body,h1,h2,h3,h4,h5,h6 {
  font-family: 'Noto Sans',Helvetica,Arial,Lucida,sans-serif;
  position: relative;
}

body, html {
  height: 100%;
}

a {
  text-decoration: none;
}

.square-btn {
  height: 100px;
  width: 200px;
  display: table-cell;
  vertical-align: middle;
}

.square-btn:hover {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("images/ULHT_08-1024x683.jpg");
  background-color: black;
  min-height: 40%;
  opacity: 85%;
}

.bgimg-2 {
  background-position: center;
  background-size: cover;
  background-image: url("images/ULHT_12-1024x848.jpg");
  background-color: black;
  min-height: 40%;
  opacity: 85%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.values {
  font-family: 'Noto Sans',Helvetica,Arial,Lucida,sans-serif;
  color: rgb(255, 187, 0);
}

.vl {
  border-left: 6px solid skyblue;
  height: 500px;
}

.vl2 {
  border-left: 12px solid yellow;
  height: 300px;
}
.shadow-text{
  text-shadow:1px 1px 0 #444
}